.content {
    display: grid;
    grid-template-rows: 3fr, 1fr;

    h2 {
        font-size: 14px;
        font-weight: 700;
    }

    p {
        color: $font-color;

        ul {

            li {
                list-style: square;
            }
        }
    }

    aside {
        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;

                    &:hover {
                        color: $link-color;
                    }
                }
            }
        }
    }

}