/* this alignment for tut21.html*/
 *  { box-sizing: border-box;}

 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 .container {
     border: 3px solid purple;
     margin: 33px auto;
     background-color: sandybrown;
 }

 .item {
     border: 3px solid gray;
     margin: 12px 3px;
     padding: 12px 4px;
     background-color: rgb(245, 192, 192);
 }

 #fruits {

     float: left;
     width: 48%;
 }

 #computer {
     float:right;
     width: 48%;
   
 }

 #stationary {
     clear: both;
 }

 p,
 h3 {
     text-align: right;
     text-align: left; 
     text-align: center; 
     text-align: justify;
    
 }
 h1{
      text-align: center;
     /* align-items: center; */
     /* justify-content: censster; */

 }