
.container {
    display: flex;
}

.card {
    padding: 12px 23px;
    margin: 12px 23px;
    /* border: 2px solid red   ; */
    background-color: burlywood;

    /* box-shadow: offset-x offset-y color ; */
    /* box-shadow: 10px 12px rgb(206, 170, 123); */
    /* box-shadow: 10px -12px green; */

    /* box-shadow: offset-x offset-y  blur-radius color ; */
    /* box-shadow: 10px 12px 10px green; */
    /* box-shadow: -10px -12px 10px green; */

    /* box-shadow: offset-x offset-y blur-radius spread-radius color ; */
    /* box-shadow: 10px 12px 10px 14px green; */
    /* box-shadow: -10px -12px 10px 14px green; */
    /* box-shadow: -10px -12px 10px 14px rgba(101, 103, 190, 0.3); */
    /* box-shadow: inset 2px 12px blue; */
    box-shadow:  2px 12px blue ,12px 12px red;
}
.card h2{
    /* text-shadow: 2px 3px lightsalmon; */
    text-shadow: 2px 3px 14px rgb(231, 10, 10);
    /* text-shadow: -2px -3px 4px  white; */

}
