
.container {
    border: 2px solid black;
    background-color: khaki;
    height: 3444px;
}

/* position : static(default),,relative,absolute fixed ,sticky */
.box {
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box3 {
    /* relative:positions the element relative to its normal position and will leave a gap at it's normal position */
    /* position: relative; */

    /* absolute:positions the element relative to the  position of it first parent( div.container)*/
    /* position: absolute; */
    /* left: 13px;
    top: 34px; */

     /* fixed: positions the element relative to the browser window  */
    /* position: fixed;
    right: 4px;
    bottom: 2px; */

    position: sticky;
    top:3px;
}
