.container {
    width: 1100px;
    margin: 0px auto;

    @media screen and (max-width:1150px) {
        width: 900px;
    }

    @media screen and (max-width:1000px) {
        width: 700px;
    }
}

//@at-root

.item {
    color: red;

    @at-root {
        .iten-wrapper {
            color: green;

            .image {
                width: 100%;
            }
        }
    }

    .item-child {
        background: pink;
    }
}